$primaryCollor: #4685eb;
$stateTable: #323C50;
$fontColor: #FFFFFF;
$backgroundColor:  #00171F;
$contentBackgroundColor: #2b2b2b;
$loaderBackgroundColor: #3d3d3d;

// ---- Markers colours ----
$Unknown: #bfbfbf;
$VeryGood: #59b00b;
$Good: #b0dd10;
$OK: #ffd912;
$Warning: #e48100;
$NonFatal: #e50000;
$Fatal: #9a0002;