@import "../styles/colors.scss";

.container {
    margin-bottom: 5px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}


.rectangle {
    background-color: $primaryButton;
    width: 0.8vh;
    float: left;
    margin-top: 6px;
    margin-right: 2px;
}

@media only screen and (max-width: 800px)
{
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }

    .rectangle {
        height: 2.5vh ;
    }
  
}

@media only screen and (min-width: 801px) {
    .rectangle {
        height: 4.5vh;
    }
}
