@import "../styles/colors.scss";

.container {
    margin: 0 auto;
    padding: 10px;
}

.alarm {
    background: url("../../assets/alarm.webp");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

.analytics {
    background: url("../../assets/analytics.webp");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

.map {
    background: url("../../assets/map.webp");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

.settings{
    background: url("../../assets/settings.webp");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

button {
    border-bottom: 2px solid white;
}

button:hover {
    cursor: pointer;
    background-color: #4c4c4c61;
    border-bottom: 2px solid white;
}

button:focus {
    border-bottom: 2px solid $primaryCollor;
}

@media only screen and (max-width: 800px)
{

    button {
        width: 12.5vw;
        margin-bottom: 2px;
        margin-right: 50px;
        display: inline-block;
    }

    .alarm {
        margin-left: 20;
    }

    .container {
        display: table;
    }

    .settings {
        margin-right: 7px;
    }
}

@media only screen and (min-width: 801px)
{
    .container {
        display: flex;
        position: absolute;
        right: 0;
        bottom: 0px;
    }

   button {
        margin: 0 10px;
   }

   .settings {
        margin-right: 0;
   }
}