<table class="state-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>NO2</th>
            <th>PM10</th>
            <th>PM25</th>
            <th>O3</th>
            <th>CO</th>
            <th>CC6H6</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let station of Stations">
            <td>{{ station.city.name }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

