@import "../../styles/colors.scss";

.show {
    background: url("../../../assets/show.webp");
    background-size: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

.show:hover {
    cursor: pointer;
}

.state-table {
    max-width: 507px;
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}

.state-table thead th{
    font-size: large;
    position: sticky;
    top: 0;
    background-color: $stateTable;
    color: $primaryCollor;
    height: 55px;
    width: 60px;
    z-index: 2;
}

.state-table tbody {
    font-size: small;
    text-align: center;
}

.state-table tbody tr {
    height: 50px;
}

.state-table tbody tr:hover {
    // color: $primaryCollor;
    // box-shadow: $primaryCollor 0 1px;
    cursor: pointer;
  }

/* Background-color of the odd rows */
.state-table tbody tr:nth-child(odd) {
    background-color: $stateTable;
}

/* Background-color of the even rows */
.state-table tbody tr:nth-child(even) {
    background-color: #2C3446;
}

.tableMarker {
    margin: 0 auto;
    height: 20px;
    width: 20px;
    border: none;
    animation: unset;
}

@media screen and (max-width: 801px) {
    .state-table thead th {
        font-size: small;
    }

    .state-table tbody {
        font-size: x-small;
    }
}
