@import "../../../styles/colors.scss";

#mapid {
    height: 100%;
    background:transparent;
    width: calc(100% - 507px);
}

@media screen and (max-width: 801px) {
    #mapid {
        width: 100%;
    }
}