<div class="container">
    <button class="alarm"
        [ngStyle]="GlobalBehaviorService.SelectedMenu === Menu.Alarm ? { 'border-bottom': '2px solid #4685eb'} : {}" 
        (click)="GlobalBehaviorService.ChangeSelectedMenu(Menu.Alarm)"></button>
    <button class="analytics"
        [ngStyle]="GlobalBehaviorService.SelectedMenu === Menu.Analytics ? { 'border-bottom': '2px solid #4685eb'} : {}" 
        (click)="GlobalBehaviorService.ChangeSelectedMenu(Menu.Analytics)"></button>
    <button class="map"
        [ngStyle]="GlobalBehaviorService.SelectedMenu === Menu.Map ? { 'border-bottom': '2px solid #4685eb'} : {}" 
        (click)="GlobalBehaviorService.ChangeSelectedMenu(Menu.Map)"></button>
    <button class="settings"
        [ngStyle]="GlobalBehaviorService.SelectedMenu === Menu.Settings ? { 'border-bottom': '2px solid #4685eb'} : {}" 
        (click)="GlobalBehaviorService.ChangeSelectedMenu(Menu.Settings)"></button>
</div>
