<div class="webflow-style-input">
    <input [(ngModel)]="filterValue" placeholder="Search station">
</div>

<table class="state-table">
    <thead>
        <tr>
            <th>Name</th>
            <th [style.background-color]="DataService.IsEnabledNO2? '': 'grey'" 
                (click)="DataService.IsEnabledNO2 = !DataService.IsEnabledNO2" 
                (click)="FilterStations()" >NO<sub>2</sub>
            </th>
            <th [style.background-color]="DataService.IsEnabledPM10? '': 'grey'" 
                (click)="DataService.IsEnabledPM10 = !DataService.IsEnabledPM10" 
                (click)="FilterStations()" >PM<sub>10</sub>
            </th>
            <th [style.background-color]="DataService.IsEnabledPM25? '': 'grey'" 
                (click)="DataService.IsEnabledPM25 = !DataService.IsEnabledPM25" 
                (click)="FilterStations()" >PM<sub>25</sub>
            </th>
            <th [style.background-color]="DataService.IsEnabled03? '': 'grey'" 
                (click)="DataService.IsEnabled03 = !DataService.IsEnabled03" 
                (click)="FilterStations()" >O<sub>3</sub>
            </th>
            <th [style.background-color]="DataService.IsEnabledCO2? '': 'grey'" 
                (click)="DataService.IsEnabledCO2 = !DataService.IsEnabledCO2" 
                (click)="FilterStations()">CO<sub>2</sub>
            </th>
            <th [style.background-color]="DataService.IsEnabledC6H6? '': 'grey'" 
                (click)="DataService.IsEnabledC6H6 = !DataService.IsEnabledC6H6" 
                (click)="FilterStations()">C<sub>6</sub>H<sub>6</sub>
            </th>
            <th [style.background-color]="DataService.IsEnabledSO2? '': 'grey'" 
                (click)="DataService.IsEnabledSO2 = !DataService.IsEnabledSO2" 
                (click)="FilterStations()">SO<sub>2</sub>
        </th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let station of DataService?.Stations | searchText: filterValue"  
            (click)="ShowStationBubble(station)"
            [style.background]="SelectedStation?.id === station?.id ? '#44686b' : '' | safeStyle">
            
            <td> {{station.stationName}}</td>
            <td>
                <div class="tableMarker marker {{ SensorStateHelper.GetState(ParamType.NO2, station?.sensors) }}"></div>
            </td>
            <td>
                <div class="tableMarker marker {{ SensorStateHelper.GetState(ParamType.PM10, station?.sensors) }}"></div>
            </td>
            <td>
                <div class="tableMarker marker {{ SensorStateHelper.GetState(ParamType.PM25, station?.sensors) }}"></div>
            </td>
            <td>
                <div class="tableMarker marker {{ SensorStateHelper.GetState(ParamType.O3, station?.sensors) }}"></div>
            </td>
            <td>
                <div class="tableMarker marker {{ SensorStateHelper.GetState(ParamType.CO, station?.sensors) }}"></div>
            </td>
            <td>
                <div class="tableMarker marker {{ SensorStateHelper.GetState(ParamType.C6H6, station?.sensors) }}"></div>
            </td>
            <td>
                <div class="tableMarker marker {{ SensorStateHelper.GetState(ParamType.SO2, station?.sensors) }}"></div>
            </td>
            <td>
                <button class="show" routerLink="/state/{{ GeoDataService.SelectedState.id }}/station/{{ station.id }}"></button>
            </td>
        </tr>
    </tbody>
</table>

