@import "./styles/colors.scss";

.mainContainer {
   display: grid;
   height: 100vh;
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   grid-template-rows: repeat(12, 1fr);
   grid-template-columns: repeat(12, 1fr);
   background: linear-gradient(165deg, #000000 0%, #1a68a0 47%, #1a6879 99%);
   color: $fontColor;
   padding: 20px;
}

.headerContainer {
    grid-row: 1/1;
    grid-column: 1/4;
    margin: 15px 15px 2px 15px;
}
 
.bodyContainer {
    grid-row: 2/13;
    grid-column: 1/13;
    background-color: $contentBackgroundColor;
    box-shadow: 4px 4px 2px #000000a1;
    border-radius: 10px;
}

.footerContainer {
    grid-row: 1/1;
    grid-column: 8/13;
    position: relative;
}


@media screen and (max-width: 801px) {

    .headerContainer {
        grid-column: 1/13;
    }
     
    .bodyContainer {
        grid-column: 1/13;
        margin: 0 2px 0 0;
    }
    
    .footerContainer {
        grid-row: 12/13;
        grid-column: 1/13;
        background-color: #00171F;
        border: 1px solid black;
        box-shadow: 15px 10px 35px black;
    }

    .mainContainer {
        padding: 0;
    }
}


