/* You can add global styles to this file, and also import other style files */
@import "./app/styles/colors.scss";

button {
    height: 4vh;
    width: 6vh;
    border: none;
    outline: none;
}

@font-face {
    font-family: "Monda-Bold";
    src: url("./assets/fonts/Monda-Bold.ttf");
  }
  @font-face {
    font-family: "Monda-Light";
    src: url("./assets/fonts/Monda-Light.ttf");
  }
  @font-face {
    font-family: "Monda-Regular";
    src: url("./assets/fonts/Monda-Regular.ttf");
  }

body {
    margin: 0;
    font-family: 'Monda-Regular';
}

::-webkit-scrollbar {
    width: 4px;
    background-color: $contentBackgroundColor;
}

::-webkit-scrollbar-thumb {
    background-color: $backgroundColor;
}

.loader {
    border: 16px solid $loaderBackgroundColor; 
    border-top: 16px solid $primaryCollor;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: auto auto;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .mapMarker {
    left: -8px;
    position: absolute;
    top: -5px;
  }

  p {
      font-size: 1rem;
      font-weight: bold;
  }

  .marker {
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    height: 5px;
    width: 5px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
  }

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 black; 
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

// ++++++++ Unknown ++++++++ //
.marker.Unknown {
    background: $Unknown;
    border: 3px solid $Unknown;
    box-shadow: 0 0 0 0 $Unknown;
    animation: pulse-Unknown 2s infinite;
}

@keyframes pulse-Unknown {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 $Unknown; 
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

// ++++++++ VeryGood ++++++++ //
.marker.VeryGood {
    background: $VeryGood;
    border: 3px solid $VeryGood;
    box-shadow: 0 0 0 0 $VeryGood;
    animation: pulse-VeryGood 2s infinite;
}

@keyframes pulse-VeryGood {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 $VeryGood; 
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

// ++++++++ Good ++++++++ //
.marker.Good {
    background: $Good;
    border: 3px solid $Good;
    box-shadow: 0 0 0 0 $Good;
    animation: pulse-Good 2s infinite;
}

@keyframes pulse-Good {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 $Good; 
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

// ++++++++ OK ++++++++ //
.marker.OK {
    background: $OK;
    border: 3px solid $OK;
    box-shadow: 0 0 0 0 $OK;
    animation: pulse-OK 2s infinite;
}

@keyframes pulse-OK {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 $OK; 
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

// ++++++++ Warning ++++++++ //
.marker.Warning {
    background: $Warning;
    border: 3px solid $Warning;
    box-shadow: 0 0 0 0 $Warning;
    animation: pulse-Warning 2s infinite;
}

@keyframes pulse-Warning {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 $Warning; 
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

// ++++++++ NonFatal ++++++++ //
.marker.NonFatal {
    background: $NonFatal;
    border: 3px solid $NonFatal;
    box-shadow: 0 0 0 0 $NonFatal;
    animation: pulse-NonFatal 2s infinite;
}

@keyframes pulse-NonFatal {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 $NonFatal; 
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

// ++++++++ Fatal ++++++++ //
.marker.Fatal {
    background: $Fatal;
    border: 3px solid $Fatal;
    box-shadow: 0 0 0 0 $Fatal;
    animation: pulse-Fatal 2s infinite;
}

@keyframes pulse-Fatal {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 $Fatal; 
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.leaflet-popup-content {
    width: 300px;
    max-height: 190px;
}

.leaflet-popup-content-wrapper {
    background-color: transparent;
    box-shadow: none;
    color: white;
}

.leaflet-popup-close-button {
    display: none;
}

.leaflet-popup-tip-container {
    display: none;
}

.leaflet-popup  leaflet-zoom-animated {
    bottom: 10px;
}